# Shared with Aurora
system_files/shared/** @inffy @renner0e @ledif @castrojo @hanthor @ahmedadan

# Bluefin-specific
system_files/bluefin/** @castrojo @hanthor @ahmedadan

# Triagers — to add someone, append @handle to both lines below
docs/**  @repires @KiKaraage @projectbluefin/maintainers
*.md     @repires @KiKaraage @projectbluefin/maintainers
